<h1>{{title}}</h1>
<form method="post">
<p><input id="phone" name="phone"  autofocus type="text" placeholder="Введите номер телефона" required></p>

<input type="submit"  value={{textButton}} >
</form>

